/* Had to do this so that there would be no scroll or overflow */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple;
  height: 100vh;
  width: 100vw;
}

.pixel{
    background-color: black;
    outline: solid 1px;
    outline-color: #FFFFFF20;
}

.pixelMatrix{
    display: grid;
    aspect-ratio: 320 / 200;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(320, 1fr);
    grid-template-rows: repeat(200, 1fr);
}