/* Had to do this so that there would be no scroll or overflow */
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple;
  height: 100vh;
  width: 100vw;
}

#pixelCanvas{
    aspect-ratio: 320 / 200;
    width: 100%;
    height: auto;
}
